.wang-content{
    font-family: "Playfair Display", serif;
    padding-top: 60px;
}

.wang-second{
    width: 60%;
}

.wang-third{
    width: 90%;
}

.wang-img{
    width: 50%;
}

.wang-font{
    font-style: italic;
}